.headers-container {
  border: 1px solid #e1e4e8;
  display: flex;
  justify-content: space-between;
  margin: -1px 100px;
  padding: 5px;
}

.headers-title {
  font-weight: 700;
  font-size: 20px;
}

.alert {
  margin: 10px 0;
  font-weight: 700;
}
